<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<th:block th:replace="fragments/header :: headerFragment()"></th:block>
<body>

	<section class="ftco-section mt-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mb-5 ftco-animate" id="mainpicture"></div>
				<div class="col-lg-6 product-details pl-md-5 ftco-animate">
					<h3>[[${pboard.ptitle}]]</h3>

					<p class="price">
						가격 : <span th:text="${pboard.pprice}">기본 메시지</span> 원
					</p>
					<p>
						<span th:text="${pboard.pcontent}">기본 메시지</span>
					</p>
					<div class="row mt-4">
						<div class="col-md-6"></div>

						<div class="input-group col-md-6 d-flex mb-3"></div>
						<div class="w-100"></div>
						<div class="col-md-12">
							<p style="color: #000;">숙박은 간편하게</p>
						</div>
					</div>

					<div class="form-signin" style="display: flex;">

						<div class="form-group" style="margin: 0 auto;">
							<p>
								<a href="/cart" class="btn btn-dark py-3 px-5" id="cartBtn">예약</a>
							</p>

						</div>


					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container" id="subpicture"></div>

	</section>

	<script>
		$(document)
				.ready(
						function() {

							//사진 정보 불러오기
							(function() {
								const urlParams = new URL(location.href).searchParams;

								const pno = urlParams.get('pno');

								$
										.getJSON(
												"/pboards/getProductDetail",
												{
													pno : pno
												},
												function(arr) {

													var str = "";
													var str2 = "";
													$(arr)
															.each(
																	function(i,
																			Attach) {
																		var fileCallPath = encodeURIComponent(Attach.uploadPath
																				+ "/"
																				+ Attach.uuid
																				+ "_"
																				+ Attach.fileName);
																		console
																				.log(fileCallPath);
																		if (Attach.mainPicture == true) {
																			//사진을 누르면 크게 보여주기 추가예정
																			//str += "<a href='/display?fileName="+fileCallPath+"' class='image-popup'>";
																			str += "<img src='/display?fileName="
																					+ fileCallPath
																					+ "' class='img-fluid' alt='Colorlib Template'>";
																			//</a>";
																		} else {
																			str2 += "<img src='/display?fileName="
																					+ fileCallPath
																					+ "' class='img-context' alt='Colorlib Template'>";
																		}
																	});
													$("#mainpicture").html(str);
													$("#subpicture").html(str2);
													// });
												});//end getjson
							})(); // end function

						});
	</script>

</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</html>