<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<th:block th:replace="fragments/header :: headerFragment()"></th:block>

<body>
	<div class="vh-100 d-flex justify-content-center align-items-center">
		<div class="col-md-5 p-5 shadow-sm border rounded-3">
			<h2 class="text-center mb-4 text-primary">로그인</h2>
			<form th:action="@{/loginProc}" th:method="POST">
				<div class="mb-3">
					<label for="username" class="form-label">계정</label> <input
						type="text" name="username"
						class="form-control border border-primary" id="username"
						aria-describedby="emailHelp">
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">비밀번호</label>
					<input type="password" name="password"
						class="form-control border border-primary" id="password">
				</div>
				<div class="error_message">
					<span class="text-danger" th:text="${errorMessage}"></span>
				</div>
				<p class="small">
					<a class="text-primary" href="forget-password.html">아이디 또는
						비밀번호를 잊으셨나요?</a>
				</p>
				<div class="d-grid">
					<button class="btn btn-primary" type="submit">Login</button>
				</div>
			</form>
			<div class="mt-3">
				<div class="d-grid">
					<button class="btn btn-primary"
						onclick="location.href='/users/signUp'">회원가입</button>
				</div>

			</div>
			<div>

				<a href="/oauth2/authorization/google" class="btn btn-danger active"
					role="button">Google Login</a> <a
					href="/oauth2/authorization/naver" class="btn btn-success acitve"
					role="button">Naver Login</a> <a href="/oauth2/authorization/kakao"
					class="btn btn-warning acitve" role="button">Kakao Login</a>
			</div>
		</div>
	</div>

	<!-- <div id="login-page" class="row">
		<div class="col s12 z-depth-4 card-panel">
			<div class="row col-md-6">
				<form class="login-form" th:action="@{/loginProc}" th:method="POST">


					<div class="member_login_input">
						<input type="text" name="username" placeholder="아이디">
					</div>

					<div class="member_login_input">
						<input type="password" name="password" placeholder="비밀번호">
					</div>

					<div class="member_login_btn">

						<input type="submit" class="btn btn-secondary" id="btn-login"
							value="로그인"> <input type="button"
							class="btn btn-secondary" value="회원가입"
							onclick="location.href='/users/signUp'">

					</div>

					<div class="find_password">
						<a href="/forgot-password">아이디 또는 비밀번호를 잊으셨나요?</a>
					</div>
					
					


				</form>
			</div>
		</div>

	</div> -->
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>
