<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="headerFragment()">

  <style>
	html,
body {
   margin:0;
   padding:0;
   height:100%;
}
.contents-wrap {
   min-height:100%;
   position:relative;
   padding-bottom:100px;/* footer height */
}
.footer {
   width:100%;
   height:100px;
   position:absolute;
   bottom:0;
   background:#5eaeff;
  text-align: center;
  color: white;
}
  </style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous"></script>     
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>	
	<nav
		class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
		id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="/">SangMin's PortFolio</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
			<div class="collapse navbar-collapse " id="ftco-nav">
				<ul class="navbar-nav ml-auto mb-lg-0 ">
					<li class="m-2 text-white" sec:authorize="isAuthenticated()">안녕하세요 [[ ${userName} ]] 님</li>
					<li class="me-2"><a sec:authorize="!isAuthenticated()"href="/oauth2/authorization/google" class="btn btn-danger active" role="button">Google Login</a></li>
					<li class="me-2"><a sec:authorize="!isAuthenticated()"href="/oauth2/authorization/naver" class="btn btn-success acitve" role="button">Naver Login</a></li>
					<li class="me-2"><a sec:authorize="!isAuthenticated()"href="/oauth2/authorization/kakao" class="btn btn-warning acitve" role="button">Kakao Login</a></li>
					<li class="me-2"> <a sec:authorize="isAuthenticated()"href="/boards/list" class="btn btn-secondary acitve" role="button">글쓰기</a></li>
					<li class="me-2"> <form th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
					     <button class="btn btn-info" type="submit">로그아웃</button>
					 </form></li>
		
				</ul>
				
				
			</div>
		</div>
	</nav>
	<!-- END nav -->
 
  </th:block>
</html>